.DS_Store
.dart_tool/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.lock
.packages
/ota_update/.idea/

ios/.generated/



# Miscellaneous
*.lock
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws

# Visual Studio Code related
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/

.pub-cache/



# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
gen/
ios/Frameworks/
/.idea/codeStyles/
/.idea/libraries/
/.idea/shelf/
/.idea/WorkFlow_App.iml
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/encodings.xml
/ios/Flutter/flutter_export_environment.sh